# Node modules
node_modules/

# Environment files
.env
posts.json
users.json

# Logs
*.log
logs/

# OS-specific files
.DS_Store
Thumbs.db

# Coverage
coverage/

# Temporary files
*.tmp
*.swp

# Others
*.sqlite
*.db

