<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>about us</title>
  </head>
  <body>
    <%- include('partials/header.ejs') %>
    <h1>About</h1>
    <pre>
       Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
       Praesent nec pulvinar lectus. Sed rhoncus ante non urna luctus, et porta nibh porta.
       In felis tellus, consectetur nec suscipit at, ullamcorper vel metus.
       Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
    </pre>

    <p></p>
    <%- include('partials/footer.ejs') %>
  </body>
</html>
