<%- include("partials/header.ejs") %>

<!--Dashboard Section-->
<section class="dashboard">
  <h1>Dashboard</h1>
  <div class="dashboard-menu">
    <ul>
      <li><a href="/posts/new">Create New Post</a></li>
      <li><a href="/posts/edit">Edit</a></li>
      <li><a href="/posts/delete">Delete</a></li>
    </ul>
  </div>
</section>

<%- include("partials/footer.ejs") %>
